

.task {
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  border: 1px solid #fff;
  border-radius: 0.25rem;
}

.collapsedTask {
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem;
}

.moveTask {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem;
}